.div {
  margin: 2rem auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
}
.title {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(
    140deg,
    rgba(255, 115, 250, 1) 0%,
    rgba(236, 163, 140, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
